<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to restaurants_path, class: "navbar-brand" do %>
      <img src="https://d26jy9fbi4q9wx.cloudfront.net/assets/logo-ae2beeecce25d711f577b08deb9adfc6c02b673ed106b8d6c3da0f1721d9da33.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Yelp MVP
    <% end %>
  </div>
</nav>