<div class="container">
  <h1>Restaurants</h1>

  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <div>
        <%= render restaurant %>
        <%= link_to "Show this Restaurant", restaurant_path(restaurant) %>
      </div>
    </li>
  <% end %>
  </ul>
</div>
